<h1> Edit new movie </h1>

<%= form_for @movie do |f| %>
    <div>
        <%= f.label :title %>
        <%= f.text_field :title %>
    </div>
    <div>
        <%= f.label :year %>
        <%= f.text_field :year %>
    </div>
    <div>
        <%= f.label :rate %>
        <%= f.text_field :rate %>
    </div>

    <%= f.submit %>

<% end %>