<h1> List of the best moviesss </h1>

<table>
    <thead>
        <td>Title</td>
        <td>Action</td>
    </thead>
    <tbody>
        <% @movies.each do |movie| %>
        <tr>
            <td> <%= movie.title %> </td>
            <td> 
            <%= link_to 'Show', movie_path(movie.id) %>
            <%= link_to 'Edit', edit_movie_path(movie.id) %>
            <%= link_to "Delete", movie_path(movie), method: :delete, data:{confirm: "Are you sure"} %>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>

<%= link_to 'New movie', new_movie_path %>


<style>
    *{
        font-family: monospace;
    }
    table{
        border-collapse: collapse;
        font-size: 20px;

    }
    td{
        border: 2px solid black;
    }
    thead{
        font-weight: 900;
    }
</style>