<h1> Add new movie </h1>

<%= form_for @movie do |f| %>
    <div>
        <%= f.label :title %>
        <%= f.text_field :title %>
    </div>
        <div>
        <%= f.label :director %>
        <%= f.text_field :director %>
    </div>



    <%= f.submit %>

<% end %>