<% x = 0.0 %>
<% @comments.each do |comment| %>
    <% x += comment.rate.to_i %>
<% end %>



<% x /= @comments.count %>

<div class="movie">

    <header class="movie__header">

        <div class="movie__img-wrapper">
            <div class="movie__fake-img"></div>
        </div>

        <div class="movie__description-wrapper">

            <p class="movie__title"> <%= @movie.title %> </p>

            <div class="movie__more-info">
                <p class="movie__info"><span class="movie__info-title">Duration</br></span> <%= @movie.duration %> min. </p>
                <p class="movie__info"><span class="movie__info-title">Director</br></span> <%= @movie.director %> </p>
                <p class="movie__info"><span class="movie__info-title">Rate</br></span> <%= x %> </p>
            </div>

            <p class="movie__description"><span class="movie__info-title">Description</br></span> <%= @movie.description %> </p>
            <div class="movie__stars-wrapper"> </div>
        </div>

    </header>

    <div class="movie__showings-table">
        <% 5.times do |x=0|%>
            <div class="movie__showings-column">
                <p class="movie__column-header"> <%= (@date + x).day.to_s + "." + (@date + x).month.to_s %> </p>

                <% @showings.each do |showing| %>
                <% date = @date + x %>
                    <% date = date.day.to_s + "." + date.month.to_s %>
                    <% if date == showing.date %>
                        <p class="movie__showing-time"> <%= showing.time %> </p>
                    <% end %>
                <% end %>

                <% x += 1 %>
        
        </div>
        <% end %>
    </div>

    <% @comments.each do |comment| %>
    <div class="movie__comment-wrapper">
        <span class="movie__author"> <%= comment.author %> </span> ocenil film na: <span class="movie__rate"> <%= comment.rate %> </span>
        <p class="movie__comment"><%= comment.body %></p>
    </div>
    <% end %>



    <%= link_to new_comment_path(:m_id => @movie.id) do %>
        <button class="movie__btn">Add Comment</button>
    <% end %>
</div>